<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Practicas 01 EJS</title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<!-- <script src="../public/js/bootstrap.bundle.min.js"></script> -->
	</head>

	<body>
		<div class="container">
			<center>
				<h1><%=titulo%></h1>
				<img src="../img/upsin_logo.jpg" alt="logoUPSIN" />
			</center>
			<table class="table table-light table-hover table-bordered text-center">
				<tr class="table-dark">
					<th>Matricula:</th>
					<th>Nombre:</th>
					<th>Sexo:</th>
					<th>Materias:</th>
				</tr>
				<% for(alumno of listado){ %>
				<tr class="table-light">
					<td class="table-light"><%=alumno.matricula%></td>
					<td class="table-light"><%=alumno.nombre%></td>
					<td class="table-light"><%=alumno.sexo%></td>
					<td class="table-light"><%=alumno.materias%></td>
				</tr>
				<%}%>
			</table>
		</div>
	</body>
</html>
